.header {
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
}
.header .left-header {
  display: flex;
  width: 65%;
  align-items: center;
  text-transform: uppercase;
}

.header .header-tab {
  margin: 0 0 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .right-header .header-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-color: white;
  padding: 0 20px;
  border-width: 0px 1px 0px 1px;
  box-sizing: border-box;
}

.header .right-header {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

.header .logo-leboncoin {
  height: 60px;
}

.header .logo-leboncoin img {
  height: 60px;
  width: 120px;
  object-fit: cover;
}

.header .right-header .currenttab {
  border-bottom: 10px solid #fafafa;
  height: 100%;
}

.header .currenttab {
  border-bottom: 10px solid #fafafa;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-tab:hover {
  border-bottom: 3px solid #e7ebee;
  cursor: pointer;
}
.header .header-tab.currenttab:hover {
  border-bottom: 10px solid #fafafa;
  cursor: pointer;
}
