/* Log In */
.log-in-container {
  background-color: #fafafa;
  min-height: calc(100vh - 60px);
}

.log-in-container form {
  margin-top: 20px;

  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}

.log-in-container form .connexion {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 3px #f56c29;
  width: 50%;
}

.log-in-container form .not-display {
  display: none;
}
.log-in-container form .display {
  color: red;
}

.log-in-container form input {
  width: 50%;
  margin: 10px 0;
}
.log-in-container form .submit {
  margin: 20px;
  text-align: center;
}
.log-in-container form .no-count {
  text-align: center;
  padding-top: 30px;
  border-top: #cad1d9 solid 1px;
}

.log-in-container form button {
  margin: 20px;

  width: 50%;
}
