.product-list {
  flex-direction: column;
  padding-top: 20px;
}

.product-article {
  display: flex;
  height: 130px;
  padding: 10px;
  border: 1px solid #dddddd;

  box-sizing: border-box;
  background-color: white;
}

.product-article:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  position: relative;
  z-index: 2;
}

.product-article .img-product {
  width: 150px;
  height: calc(130px - 20px);
  background-color: #fafafa;
}
.product-article .img-product div {
  height: 100%;
  width: 100%;
}

.product-article .img-product img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-article .product-information {
  padding: 0px 20px;
  box-sizing: border-box;
  width: 100%;
}

.product-article .product-name {
  color: #346696;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.product-article .product-price {
  color: #f56c29;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 10px 0px;
}
.my-offer-null {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-offer-null .go-to-publish {
  padding-top: 20px;
  text-decoration: underline;
  color: #4183d7;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 300px;
}
