/* SEARCH BAR  */
.search-bar-container {
  height: 130px;
  background-color: #e6ebee;
  border-bottom: solid 1px #cad1d9;
}
.search-bar {
  height: 100%;
  padding-top: 20px;
}
.left-side-searchbar {
  width: 65%;
}

.left-side-searchbar .title-searched {
  width: calc(100% - 20px);
  margin-top: 0;

  margin-bottom: 10px;
}

.right-side-searchbar {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-side-searchbar button {
  width: 80%;
  margin-bottom: 10px;
}

.right-side-searchbar select {
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  height: 40px;
  border-radius: 3px;
}
