@import "reset.css";
@import "./assets/css/Header.css";
@import "./assets/css/LogIn.css";
@import "./assets/css/Pagination.css";
@import "./assets/css/ResearchBar.css";
@import "./assets/css/Offer.css";
@import "./assets/css/SignUp.css";
@import "./assets/css/Publish.css";
@import "./assets/css/ProductList.css";
@import "./assets/css/Profile.css";

html {
  min-height: 100vh;
  --color-blue: #4183d7;
  --font-size-main: 13px;
  --line-height-main: 19px;
  --leboncoin-color: #f56c29;
}

.page-container {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
header {
  height: 60px;
  box-sizing: border-box;
  background-color: var(--leboncoin-color);
  color: white;
}
h3 {
  font-size: 16px;
  line-height: 24x;
  font-weight: 600;
  margin-bottom: 15px;
}

.main-section {
  background-color: #fafafa;
  width: 100%;
}
.no-result {
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: bold;
  min-height: 100vh;
  justify-content: center;
  padding-top: 100px;
}
.blue-button {
  color: white;
  background-color: var(--color-blue);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.inverted-blue-button {
  color: var(--color-blue);
  background-color: white;
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: bold;
  border-radius: 3px;
  border: solid 3px var(--color-blue);

  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.delete-button {
  background-color: #e43022;
  height: 20px;
}

.input-fields {
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  text-align: left;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cad1d9;

  padding-left: 10px;
}
.input-fields:focus {
  background-color: white;
}

.label {
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: bold;
  text-align: left;
  width: 50%;
  margin: 30px 0 0 0;
}

.page-width {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.user-profile-card {
  width: 35%;
  height: 90px;
  background-color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.user-profile-card .fa-user-circle {
  height: 50px;
  color: #fea421;
  margin-right: 10px;
}
