@import "reset.css";
@import "./assets/css/Header.css";
@import "./assets/css/LogIn.css";
@import "./assets/css/Pagination.css";
@import "./assets/css/ResearchBar.css";
@import "./assets/css/Offer.css";

.page-container {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
header {
  height: 60px;
  box-sizing: border-box;
  background-color: #f56c29;
  color: white;
}
h3 {
  font-size: 16px;
  line-height: 24x;
  font-weight: 600;
  margin-bottom: 15px;
}

.main-section {
  background-color: #fafafa;
  width: 100%;
}

.blue-button {
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.inverted-blue-button {
}

.input-fields-login-signup {
}
