@import "reset.css";

.page-container {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
header {
  height: 60px;
  box-sizing: border-box;
  background-color: #f56c29;
  color: white;
}
h3 {
  font-size: 16px;
  line-height: 24x;
  font-weight: 600;
  margin-bottom: 15px;
}

.header {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
}
.header .left-header {
  display: flex;
  width: 65%;
  align-items: center;
  text-transform: uppercase;
}

.header .header-tab {
  margin: 0 0 0 20px;
}

.header .right-header .header-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-color: white;
  padding: 0 20px;
  border-width: 0px 1px 0px 1px;
}

.header .right-header {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

.header .logo-leboncoin {
  height: 60px;
}

.header .logo-leboncoin img {
  height: 60px;
  width: 120px;
  object-fit: cover;
}

.main-section {
  background-color: #fafafa;
  width: 100%;
}

.product-list {
  width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
}

.product-article {
  display: flex;
  height: 130px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  box-sizing: border-box;
  background-color: white;
}

.product-article .img-product {
  width: 150px;
  height: calc(130px - 20px);
  background-color: #fafafa;
}
.product-article .img-product div {
  height: 100%;
  width: 100%;
}

.product-article .img-product img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-article .product-information {
  padding: 0px 20px;
  box-sizing: border-box;
  width: 100%;
}

.product-article .product-name {
  color: #346696;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.product-article .product-price {
  color: #f56c29;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

/* PAGINATION */

.pagination {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dddddd;
  font-size: 13px;
  line-height: 19px;

  border-width: 0px 1px 0px 1px;
}
.pagination i {
  padding: 0 10px;
}
.pagination .pages-list {
  display: flex;
}

.pagination .go-to-page {
  width: 25px;
  height: 25px;
  color: #346696;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}

.pagination .current-page {
  background-color: #f56c29;
  color: white;
  cursor: default;
}

.pagination .fa-chevron-right,
.pagination .fa-chevron-left {
  color: #346696;
  cursor: pointer;
}

.pagination .border-page {
  color: #cbd2da;
  cursor: default;
}
/* OFFER TAB */

.offer {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
}

.offer-product {
  width: 65%;
  padding-right: 20px;
  box-sizing: border-box;
}

.offer-picture {
  width: 100%;
  min-height: 385px;

  background-color: #d7d0d0;
}

.offer-picture .unique-image {
  width: 100%;
  height: 385px;
  object-fit: contain;
}
.offer-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-picture .slider-wrapper img {
  height: 385px;
  object-fit: contain;
}

/* Carousel */
.carousel .thumbs-wrapper {
  margin: 0;
  background-color: white;
}

.carousel .thumb {
  margin-right: 0px;
  border: none;
}

.offer-creator {
  width: 35%;
  height: 90px;
  background-color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-creator .fa-user-circle {
  height: 50px;
  color: #fea421;
  margin-right: 10px;
}

.main-information-offer {
  height: 125px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  font-weight: bold;
  box-shadow: 0px 3px 3px #f1f1f1;
}

.main-information-offer .offer-title {
  font-size: 24px;
  line-height: 31px;
}

.main-information-offer .offer-price {
  font-size: 20px;
  line-height: 30px;
  color: #fea421;
}
.offer-desciption-part {
  padding: 25px 0;
}

/* SEARCH BAR  */
.search-bar-container {
  height: 130px;
  background-color: #e6ebee;
  border-bottom: solid 1px #cad1d9;
}
.search-bar {
  width: 1024px;
  display: flex;
  margin: 0 auto;
  height: 100%;
  padding-top: 20px;
}
.left-side-searchbar {
  width: 65%;
}
.left-side-searchbar input {
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cad1d9;
}
.left-side-searchbar .title-searched {
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.right-side-searchbar {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-side-searchbar button {
  height: 40px;
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  width: 80%;
  margin-bottom: 10px;
}

.right-side-searchbar select {
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  height: 40px;
  border-radius: 3px;
}

/* HOME LOG OUT */
.main-section-log-out {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  font-weight: bold;
  padding-top: 100px;
}

.main-section-log-out button {
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

/* Log In */
.log-in-container {
  background-color: #fafafa;
  height: calc(100vh - 60px);
}

.log-in-container form {
  width: 1024px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}

.log-in-container form .connexion {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 3px #f56c29;
  width: 50%;
}

.log-in-container form span {
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  text-align: left;
  width: 50%;
  margin: 10px 0;
}

.log-in-container form .not-display {
  display: none;
}
.log-in-container form .display {
  color: red;
}

.log-in-container form input {
  text-align: left;
  width: 50%;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cad1d9;
  font-size: 13px;
  line-height: 19px;
  margin: 10px 0;
  padding-left: 10px;
}
.log-in-container form .submit {
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.log-in-container form .no-count {
  text-align: center;
  padding-top: 30px;
  border-top: #cad1d9 solid 1px;
}

.log-in-container form button {
  color: #4183d7;
  background-color: white;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: solid 3px #4183d7;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  width: 50%;
}
/* Sign Up*/
.sign_up-container {
  background-color: #fafafa;
  height: calc(100vh - 60px);
}

.sign_up-container form {
  width: 1024px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}

.sign_up-container form .create-account {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 3px #f56c29;
  width: 50%;
}
.sign_up-container form .password-line {
  width: 50%;
  display: flex;
}
.sign_up-container form .password-left {
  display: flex;
  flex-direction: column;
  width: 50%;

  padding-right: 10px;
}
.sign_up-container form .password-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-right: 10px;
}
.sign_up-container form .password-left span,
.sign_up-container form .password-left input,
.sign_up-container form .password-right span,
.sign_up-container form .password-right input {
  width: 100%;
}

.sign_up-container form span {
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  text-align: left;
  width: 50%;
  margin: 10px 0;
}

.sign_up-container form input {
  text-align: left;
  width: 50%;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cad1d9;
  font-size: 13px;
  line-height: 19px;
  margin: 10px 0;
  padding-left: 10px;
  box-sizing: border-box;
}
.sign_up-container form .submit {
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.sign_up-container form .not-display {
  display: none;
}
.sign_up-container form .display {
  color: red;
}
.sign_up-container form .not-display-pwd {
  display: none;
}
.sign_up-container form .display-pwd {
  color: red;
}

/* publish */

.publish-container {
  min-height: calc(100vh - 60px);
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
}

.publish-container .publication {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 20px auto;
  background-color: white;
  border: solid 1px #eeeeee;
}

.publish-container .publication .main-info-publication .image-article {
  position: relative;
  margin-bottom: 10px;
}

.publish-container .publication .main-info-publication .fa-times-circle {
  position: absolute;
  right: 10px;
  color: orange;
}

.publish-container .publication .header-publication {
  color: white;
  background-color: #666666;
  padding: 10px;
}

.publish-container .publication .main-info-publication {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.publish-container .publication .main-info-publication input {
  height: 30px;
  font-size: 13px;
  line-height: 19px;
  margin: 10px 0;
  border-radius: 3px;
  border: solid 1px #eeeeee;
  padding-left: 5px;
}
.publish-container .publication .main-info-publication textarea {
  border: solid 1px #eeeeee;
  border-radius: 3px;
  font-size: 13px;
  line-height: 19px;
  margin: 10px 0;
  padding-left: 5px;
}

.publish-container
  .publication
  .main-info-publication
  .react-file-reader-button {
  height: 30px;
  background-color: #eeeeee;
  border: solid 1px #cacaca;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;

  width: 40%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.publish-container .publication .main-info-publication button {
  height: 40px;
  color: white;
  background-color: #4183d7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  width: 80%;
  margin-bottom: 10px;
  cursor: pointer;
}

.publish-container .publication .main-info-publication ul {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.publish-container .publication .main-info-publication li img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: solid 1px #eeeeee;
}

/* my-accounts */

.profile-container {
  display: flex;
}

.profile-container .profile {
  width: 1024px;
  margin: 20px auto;
  display: flex;
}

.profile-container .profile .resume-my-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  background-color: white;
  margin-right: 20px;
}

.profile-container .profile .my-offers {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 3px #f56c29;
  width: 50%;
  margin-bottom: 30px;
}

.profile-container .profile ul {
  width: 100%;
}
